{% extends "certificate/layout.html" %}
{% load bootstrap4 %}



{% block base %}
<div class = "row">

    <h3>Welcome dear {{ owner }}</h3>
</div>
    <h4>Domain list:</h4>
    <div class="row">
        <div class="col-1"></div>
        <ul class="col-3">
          {% for domain in domains %}
              <li>
                  <a href={% url "certificates" domain.domain_name %}>
                      {{ domain.domain_name }}
                  </a>
              </li>
          {% endfor %}
        </ul>
        <form action={% url "domains" %} method="POST">
           {% csrf_token %}
            {% for field in domain_form %}
                {% bootstrap_field field  %}
            {%  endfor %}
           {% bootstrap_button "Add domain" button_type="submit" button_class="btn-primary" %}
        </form>
    </div>

{%  endblock %}