{% load bootstrap4 %}

<ul style="list-style-type: none;">
    <h4 style="margin-left: -40px;" >Domain's list:</h4>
    {% for domain in domains %}
        <li><a href="{% url 'domains' domain.domain_name %}"
         {% if domain.domain_name == domain_name %}style="font-size:1.3rem; color:#7b00ff;" {% endif %}>
            {{ domain.domain_name }}</a></li>
    {% endfor %}
</ul>

<form action={% url "add_domain" %} method="POST">
    {% csrf_token %}
	{% for field in domain_form %}
		{% bootstrap_field field %}
	{% endfor %}
    {% bootstrap_button "Add domain" button_type="submit" button_class="btn-primary" %}
</form>
