{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='falsy' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block create  %}
    <form action="/crt/" method="POST" layout="horizontal">
        {% csrf_token %}
{#        {% bootstrap_form form %}#}
        {{ domain_add_form }}
        {% bootstrap_button "add" button_type="submit" button_class="btn-primary" size="small" %}
{#        <input type="submit" value="add" />#}
    </form>

{% endblock  %}

<table>
    <th>domain</th><th>description</th>
    {% for d in domains %}
    <tr>
        <th><a href="{{ d.domain_name }}">{{ d.domain_name }}</a></th>
      <th>{{ d.description }}</th>
    </tr>
    {% endfor %}
</table>