<h4 style="margin-left: -40px;" >Certificate's list:</h4>
<table>
    <th>ID</th><th>validation</th>
    <tr>
      <th><a href="{% url "certificates" domain_name 0 %}"
      {% if certificate_id == 0 %}style="font-size:1.3rem; color:#7b00ff;" {% endif %}
      >
          Create new certificate </a></th>
      <th></th>
    </tr>

    {% for certificate in certificates %}
    <tr>
      <th><a href="{% url "certificates" domain_name certificate.id %}"
      {% if certificate_id == certificate.id %}style="font-size:1.2rem; color:#7b00ff;" {% endif %}
      >
          {{ certificate }}</a></th>
      <th>{{ domain.description }}</th>
    </tr>
    {% endfor %}
</table>
